@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1665727213410') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\f0112";
}

.icon-biaoqing:before {
  content: "\f01ef";
}

.icon-gengduo1:before {
  content: "\e73a";
}

.icon-huati:before {
  content: "\e659";
}

.icon-didian:before {
  content: "\e605";
}

.icon-zuanshi:before {
  content: "\e64a";
}

.icon-shandian:before {
  content: "\e624";
}

.icon-gengduo2:before {
  content: "\ec1c";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-biaodiandidian:before {
  content: "\e65e";
}

.icon-shipin1:before {
  content: "\e60a";
}

.icon-zhaopian:before {
  content: "\e64f";
}

.icon-didian1:before {
  content: "\e679";
}

.icon-zuanshi1:before {
  content: "\e88e";
}

.icon-huatifuhao:before {
  content: "\e8b0";
}

.icon-huati1:before {
  content: "\e8b1";
}

.icon-shandian1:before {
  content: "\e8b6";
}

.icon-shipin2:before {
  content: "\e614";
}

.icon-huati2:before {
  content: "\e658";
}

.icon-at:before {
  content: "\e81e";
}

